<form {{action "searchReserve" on="submit"}}>
  <div class="form-group">
    {{input type="text" class="form-control" name="reservation_code" value=reservation_code placeholder="Ingrese el código" id="code"}}
    <br />
    {{input type="submit" value="Buscar Reserva" class="btn btn-success btn-block"}}
  </div>
</form>
