<header id="header"><!--header-->


  <div class="header-middle"><!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="logo pull-left">
            <div class="col-xs-2 hidden-lg">

            </div>
            <div class="col-sm-3 col-xs-7">
              <center><img src="/assets/images/logo.png" class="img-responsive"></center>
            </div>
            <div class="col-sm-8 col-xs-12" style="font-size:180%; font-weight: bold; text-transform: uppercase; margin-top: -20px;">
              <br><br>
              Centro Comercial de la Construcción
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="shop-menu pull-right">
            <ul class="nav navbar-nav">
              <li>
                <a href="/shopping_cart" style="background-color:#F6B502;"><i class="fa fa-shopping-cart" style="font-size: 200%;"></i>
                  Carrito de Compras<br><br>
                  <span style="font-size: 80%;">Av. Beijing #1677 entre Apurimak y Pje. Beijing</span><br>
                  <span style="font-size: 80%;">Telf: 4433151-4662091 Cel: 70764869-71773136</span><br>
                  <span style="font-size: 80%;">Correo Electrónico: importadora.ch@gmail.com</span><br>
                  <span style="font-size: 80%;">Cochabamba - Bolivia</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-middle-->

  <div class="container">
  <div class="header-bottom"><!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li><a href="/" class="active">Inicio</a></li>
              <li><a href="/quienes">¿Quiénes somos?</a></li>
              <li class="dropdown">
                <a href="#">Tienda<i class="fa fa-sort-desc"></i></a>
                <ul role="menu" class="sub-menu">
                  <li><a href="/store">Productos</a></li>
                  <li><a href="/shopping_cart">Carrito de Compras</a></li>
                  <li><a href="/sales">Promociones y Ofertas</a></li>
                  <li><a href="/find_reserve/a">Ingresar Código de Reserva</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#">Calidad y Servicio<i class="fa fa-sort-desc"></i></a>
                <ul role="menu" class="sub-menu">
                  <!--<li><a href="/store">Productos Destacados</a></li>-->
                  <li><a href="/certifications">Certificaciones de calidad</a></li>
                  <li><a href="/capacitations">Capacitación</a></li>
                </ul>
              </li>
              <li><a href="/contact">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-bottom-->
  </div>
</header><!--/header-->

<div class="container">
  <section>
    <div class="container">
      <div class="row">
        {{outlet}}
      </div>
    </div>
  </section>
</div>

<footer id="footer"><!--Footer-->
  <div class="footer-widget">
    <div class="alex">
      <div class="row">
        <div class="col-sm-2">
          <div class="single-widget">
            <h2>Servicios</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/contacts/new">Contactanos</a></li>
              <li><a href="#">Order Status</a></li>
              <li><a href="#">Change Location</a></li>
              <li><a href="#">FAQ’s</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="single-widget">
            <h2>Políticas</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#">Condiciones de uso</a></li>
              <li><a href="#">Privacidad</a></li>
              <li><a href="#">Reembolso</a></li>
              <li><a href="#">Sistema de pago</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="single-widget">
            <h2>Acerca de C&H</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#">Información de la empresa</a></li>
              <li><a href="#">Ubicación</a></li>
              <li><a href="#">Asociados</a></li>
              <li><a href="#">Derechos de autor</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
      <div class="row">
        <p class="pull-left">Derechos de autor © 2016 C&H Importaciones. Todos los derechos reservados.</p>
      </div>
  </div>

</footer><!--/Footer-->
